@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("../css/normalize.css");
.box {
  width: 60px;
  height: 40px;
  float: left;
}

#b6 {
  background: #ffffff;
}

.icon {
  stroke: #000000;
  opacity: 0.95;
}

.icon {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

html {
  font-family: "Montserrat", sans-serif;
}

section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.nav__container {
  position: relative;
  background-color: white;
  z-index: 10;
}

.nav__content {
  padding: 0 40px;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
}

nav a {
  -webkit-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
}

nav a.nav-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav a.nav-item.hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: white;
  z-index: 10;
}

.nav__logo img {
  height: 23px;
  width: 26px;
  margin-right: 40px;
  -webkit-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
}

.nav__logo img.nav-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__logo img.nav-item.hide {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.nav__logo p {
  color: #f16464;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0;
  -webkit-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
}

.nav__logo p.nav-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__logo p.nav-item.hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.nav__menu {
  z-index: 10;
  background-color: white;
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.nav__menu li {
  margin-left: 40px;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.nav__burger {
  height: 370px;
  position: fixed;
  z-index: 8;
  top: -370px;
  background-color: white;
  left: 0;
  right: 0;
  font-size: 1.4rem;
  -webkit-transition: all 0.7s ease-in 0.2s;
  transition: all 0.7s ease-in 0.2s;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.nav__burger.active {
  top: 0;
  -webkit-transition: all 0.7s ease-in 0s;
  transition: all 0.7s ease-in 0s;
}

.burger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 85px 30px 30px;
}

.burger__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.burger__list {
  margin-right: 120px;
  margin-bottom: 0;
}

.burger__list li {
  margin: 10px 0;
}

.burger__list li:last-child {
  margin-bottom: 0;
}

.button {
  cursor: pointer;
}

.burger__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger__search img {
  width: 60px;
  margin-bottom: 80px;
  opacity: 1;
}

.burger__search img.hide {
  opacity: 0;
}

.burger__search p {
  margin-bottom: 0;
}

.burger__search input {
  width: 100%;
  border: none;
  text-align: end;
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
}

.burger__search input:focus-visible {
  outline: none;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.burger-item {
  -webkit-transition: all 0.3s ease-in 0.6s;
  transition: all 0.3s ease-in 0.6s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger-item.hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.header {
  background: top center url(../img/header-bg.webp) no-repeat;
  padding: 120px 40px 90px;
}

.header__title {
  max-width: 1000px;
  margin: 0 auto 110px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title h1 {
  font-weight: 600;
  font-size: 4.4rem;
  max-width: 660px;
  margin-bottom: 0;
}

.header__title p {
  font-size: 1.5rem;
  max-width: 865px;
}

.header__features {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  height: 300px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: relative;
}

.header__item:first-child {
  background-color: #353535;
}

.header__item:first-child::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 95%;
  left: -10%;
  top: -10%;
  background-color: #c1121f;
}

.header__item:nth-child(2) {
  background-color: #e71d36;
}

.header__item:nth-child(2)::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 2px;
  height: 50px;
  right: 50%;
  bottom: -70px;
  background-color: #c1121f;
}

.header__item:nth-child(3) {
  background-color: #0c334f;
}

.header__item:nth-child(3)::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 95%;
  right: -10%;
  bottom: -10%;
  background-color: #c4c4c4;
}

.card-desc h3 {
  margin-bottom: 60px;
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-desc h3::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: white;
  left: 30px;
  bottom: -35px;
}

.ideas {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #c4c4c440), color-stop(50%, #030a18ed));
  background: linear-gradient(to bottom, #c4c4c440 50%, #030a18ed 50%);
}

.ideas__container {
  max-width: 1200px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px 0;
}

.ideas__title {
  text-transform: uppercase;
  max-width: 1100px;
}

.ideas__title h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

.ideas__title p {
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  padding-left: 12%;
}

.ideas__title p::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 10%;
  background-color: #fc0909;
  left: 0;
  top: 50%;
}

.ideas__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 340px))[3];
      grid-template-columns: repeat(3, minmax(200px, 340px));
  gap: 20px;
  padding: 80px 0;
}

.ideas__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.ideas__item:nth-child(3) {
  background-color: #f01818;
  color: white;
}

.ideas__item:nth-child(3) h3 {
  margin: 0;
}

.ideas__item:nth-child(3)::before {
  position: absolute;
  content: "";
  background-color: #2e2e2e;
  bottom: -34px;
  left: -10%;
  width: 100%;
  height: 160%;
  z-index: -1;
}

.ideas__item:last-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #e5e5e5;
}

.ideas__item:last-child::before {
  position: absolute;
  content: "";
  background-color: #b91919;
  top: -34px;
  right: -10%;
  width: 130%;
  height: 70%;
  z-index: -1;
}

.ideas__item:nth-child(3), .ideas__item:last-child {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.ideas__item:nth-child(3) h3, .ideas__item:last-child h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.benefit__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.benefit__container h2 {
  font-weight: 600;
  font-size: 2.2rem;
  position: relative;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 10px;
}

.benefit__container h2::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 200vw;
  top: 50%;
  right: 0;
  left: -150%;
  background-color: black;
  z-index: -1;
}

.benefit__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__item img {
  position: relative;
  top: -25px;
  width: 70px;
  height: 100%;
}

.benefit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 70px;
}

.benefit__item_desc {
  padding-left: 30px;
}

.benefit__item_desc h3 {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.benefit__item_desc p {
  max-width: 340px;
}

.benefit__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 100%;
  position: relative;
}

.benefit__img::before {
  z-index: -1;
  position: absolute;
  content: "";
  height: 100%;
  width: 300%;
  top: 0;
  left: 0;
  right: -100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), color-stop(30%, #c4c4c4), color-stop(30%, #e21919), to(#e21919));
  background: linear-gradient(to bottom, #c4c4c4 0%, #c4c4c4 30%, #e21919 30%, #e21919 100%);
}

.benefit__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.gallery {
  padding: 90px 0px;
  background-color: #e21919;
  color: white;
}

.gallery h3::before {
  height: 3px;
  width: 60px;
  left: 0;
  bottom: -30px;
}

.gallery p {
  padding-right: 30px;
}

.gallery__container {
  position: relative;
  max-width: 1300px;
  padding: 0 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__desc {
  max-width: 300px;
}

.swiper-container {
  height: 350px;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.swiper-pagination {
  bottom: -40px;
  right: 0;
  text-align: end;
  padding-right: 40px;
}

.swiper-button-prev {
  left: 305px;
}

.swiper-button-next {
  right: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
}

.facts {
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facts h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.facts h2::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 70px;
  top: -25px;
  left: 95px;
  background-color: #e21919;
}

.facts__items {
  max-width: 2000px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(220px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fact-item {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 30px 0;
  font-weight: 600;
}

.fact-item span {
  font-size: 2.5rem;
  color: #e21919;
}

@media (max-width: 1000px) {
  body.lock {
    overflow: hidden;
  }
  .burger__search {
    margin: 30px 40px 0 60px;
  }
  .nav__burger {
    height: 100%;
    top: -100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .burger__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    overflow: scroll;
  }
  .burger__list {
    margin-right: 40px;
    margin-left: 40px;
  }
  .header__features {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .header__item:nth-child(2)::before {
    content: none;
  }
  .header__item:nth-child(3) {
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .benefit__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefit__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px;
  }
  .benefit__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 700px;
  }
  .gallery {
    padding: 50px 0;
  }
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__desc {
    max-width: none;
    padding-bottom: 30px;
  }
  .gallery__desc h3 {
    margin-top: 0px;
  }
  .swiper-container {
    width: 100%;
  }
  .swiper-button-prev {
    left: 10px;
    top: auto;
    bottom: 150px;
  }
  .swiper-button-next {
    top: auto;
    bottom: 150px;
    right: 10px;
  }
  .facts__items {
    -ms-grid-columns: (minmax(220px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
  .facts__items :nth-child(3),
  .facts__items :last-child {
    border-top: none;
  }
}

@media (max-width: 768px) {
  .nav__logo img {
    margin-right: 10px;
  }
  .nav__menu ul li {
    margin: 0;
  }
  .nav__menu ul li:nth-child(2n + 1) {
    display: none;
  }
  .nav__menu ul li:nth-child(2) {
    display: none;
  }
  .nav__content {
    padding: 0 15px;
  }
  .header {
    padding: 0px 0px 30px;
    background: none;
  }
  .header__title {
    background: url(../img/header-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
    padding: 0 5px;
  }
  .header__title h1 {
    font-size: 3rem;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .header__title p {
    font-size: 1.2rem;
    max-width: 550px;
    line-height: 28px;
  }
  .header__features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 35px 0;
  }
  .header__item {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__item:nth-child(3) {
    grid-column: span 1;
    margin-bottom: 20px;
  }
  .burger__search {
    margin: 30px 0 0;
  }
  .burger__search p {
    font-size: 1.1rem;
  }
  .ideas {
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c440), color-stop(35%, #c4c4c440), color-stop(35%, #030a18ed), to(#030a18ed));
    background: linear-gradient(to bottom, #c4c4c440 0%, #c4c4c440 35%, #030a18ed 35%, #030a18ed 100%);
  }
  .ideas__title h2 {
    font-size: 1.6rem;
  }
  .ideas__title p {
    font-size: 1rem;
  }
  .ideas__items {
    -ms-grid-columns: (minmax(200px, 340px))[2];
        grid-template-columns: repeat(2, minmax(200px, 340px));
  }
  .ideas__item {
    position: relative;
  }
  .ideas__item:nth-child(2)::before {
    position: absolute;
    content: "";
    background-color: #b91919;
    top: -34px;
    right: -10%;
    width: 130%;
    height: 70%;
    z-index: -1;
  }
  .ideas__item:nth-child(3)::before {
    content: none;
  }
  .ideas__item:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .ideas__item:last-child::before {
    position: absolute;
    content: "";
    background-color: #2e2e2e;
    top: 34px;
    bottom: -34px;
    left: -34px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@media (max-width: 500px) {
  .ideas__container {
    padding: 40px 20px 0;
  }
  .ideas__items {
    -ms-grid-columns: minmax(150px, 340px);
        grid-template-columns: minmax(150px, 340px);
    padding: 40px 0;
  }
  .ideas__item:first-child img {
    max-height: 400px;
    -o-object-position: top;
       object-position: top;
  }
  .ideas__item:nth-child(2)::before, .ideas__item:last-child::before {
    content: none;
  }
  .ideas__item:last-child {
    grid-row: span 1;
    grid-column: span 1;
  }
  .benefit__container h2 {
    max-width: 205px;
  }
  .benefit__item img {
    position: relative;
    top: -5px;
    width: 60px;
  }
  .gallery__container {
    padding: 0 20px;
  }
  .facts__items {
    -ms-grid-columns: (minmax(220px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(220px, 1fr));
  }
  .facts__items :nth-child(2),
  .facts__items :nth-child(3),
  .facts__items :last-child {
    border-top: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */