@media (min-width: 1000px) {
  #b6 {
    position: relative;
    right: -25px;
  }
  .nav__menu li {
    &:last-child {
      overflow: visible;
    }
  }
}

@media (max-width: 1000px) {
  body.lock {
    overflow: hidden;
  }
  .burger__search {
    margin: 30px 40px 0 60px;
  }
  .nav__burger {
    height: 100%;
    top: -100%;
    box-shadow: none;
  }
  .burger__container {
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
  }
  .burger__list {
    margin-right: 40px;
    margin-left: 40px;
  }
  .header__features {
    justify-content: space-around;
    column-gap: 30px;
  }
  .header__item {
    &:nth-child(2) {
      &::before {
        content: none;
      }
    }
    &:nth-child(3) {
      grid-column: span 2;
      justify-self: center;
    }
  }
  .benefit__items {
    flex-direction: column;
    align-items: center;
  }
  .benefit__list {
    align-items: center;
    margin: 0 0 20px;
  }
  .benefit__img {
    align-self: center;
    max-width: 700px;
  }
  .gallery {
    padding: 50px 0 70px;
  }
  .gallery__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .gallery__desc {
    h3 {
      margin-top: 0px;
    }
    max-width: none;
    padding-bottom: 30px;
  }
  .swiper-container {
    width: 100%;
  }
  .swiper-button-prev {
    left: 10px;
    top: auto;
    bottom: 150px;
  }

  .swiper-button-next {
    top: auto;
    bottom: 150px;
    right: 10px;
  }
  .facts__items {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    :nth-child(3),
    :last-child {
      border-top: none;
    }
  }
  .features__container {
    padding: 40px 20px;
  }
  .features__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .features__item-img {
    margin: 0 0 20px 0;
    &::before {
      width: 60%;
      height: 60%;
      bottom: -8%;
      right: -10%;
    }
  }
  .features__item {
    &:nth-child(4) {
      align-self: flex-start;
    }
    &:nth-child(5) {
      grid-row: 3/4;
      grid-column: 1/3;

      img {
        object-fit: cover;
        height: 350px;
        width: 350px;
      }
    }
    &:nth-child(6) {
      grid-column: 1/3;
      padding-left: 0px;
      a.btn {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

@media (max-width: 768px) {
  .nav__logo {
    img {
      margin-right: 10px;
    }
  }
  .nav__menu {
    ul li {
      margin: 0;
      &:nth-child(2n + 1) {
        display: none;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .nav__content {
    padding: 0 15px;
  }
  .header {
    padding: 0px 0px 30px;
    background: none;
  }
  .header__title {
    background: url(../img/header-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 5px;
    h1 {
      font-size: 3rem;
      max-width: 400px;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2rem;
      max-width: 550px;
      line-height: 28px;
    }
  }
  .header__features {
    grid-template-columns: 1fr;
    padding: 0 35px 0;
  }
  .header__item {
    width: 100%;
    height: fit-content;
    justify-self: center;
    &:nth-child(3) {
      grid-column: span 1;
      margin-bottom: 20px;
    }
  }
  .burger__search {
    margin: 30px 0 0;
    p {
      font-size: 1.1rem;
    }
  }
  .ideas {
    // background: linear-gradient(to bottom, #c4c4c440 50%, #030a18ed 50%);
    background: linear-gradient(
      to bottom,
      #c4c4c440 0%,
      #c4c4c440 35%,
      #030a18ed 35%,
      #030a18ed 100%
    );
  }
  .ideas__title {
    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .ideas__items {
    grid-template-columns: repeat(2, minmax(200px, 340px));
  }
  .ideas__item {
    position: relative;
    &:nth-child(2) {
      &::before {
        position: absolute;
        content: "";
        background-color: #b91919;
        top: -34px;
        right: -10%;
        width: 130%;
        height: 70%;
        z-index: -1;
      }
    }
    &:nth-child(3) {
      &::before {
        content: none;
      }
    }
    &:last-child {
      grid-row: 3/4;
      grid-column: 1/3;
      &::before {
        position: absolute;
        content: "";
        background-color: #2e2e2e;
        top: 34px;
        bottom: -34px;
        left: -34px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
  .gallery {
    padding-top: 40px;
  }
  .benefit__container {
    h2 {
      margin-top: 10px;
    }
  }
  .header__features {
    padding-top: 10px;
  }
  .footer__logo {
    grid-area: logo;
  }
  .footer__item-list {
    grid-area: item-list;
    align-self: flex-start;
  }
  .footer__contacts {
    grid-area: contacts;
    min-width: 240px;
  }
  .socials {
    grid-area: socials;
    align-self: flex-start;
    justify-content: space-around;
  }
  .sign {
    grid-area: sign;
  }
  .footer__items {
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo contacts "
      "item-list contacts  "
      " socials sign ";
  }
  .footer__container {
    padding: 40px 20px;
  }
}

@media (max-width: 500px) {
  .ideas__container {
    padding: 40px 20px 0;
  }
  .ideas__items {
    grid-template-columns: minmax(150px, 340px);
    padding: 40px 0;
  }
  .ideas__item {
    &:first-child {
      img {
        max-height: 400px;
        object-position: top;
      }
    }
    &:nth-child(2),
    &:last-child {
      &::before {
        content: none;
      }
    }
    &:last-child {
      grid-row: span 1;
      grid-column: span 1;
    }
  }
  .benefit__container {
    h2 {
      max-width: 205px;
    }
  }
  .benefit__item {
    img {
      position: relative;
      top: -5px;
      width: 60px;
    }
  }
  .gallery__container {
    padding: 0 20px;
  }
  .facts__items {
    grid-template-columns: repeat(1, minmax(220px, 1fr));
    :nth-child(2),
    :nth-child(3),
    :last-child {
      border-top: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .features {
    background: linear-gradient(to bottom, #030a18eb 60%, #fff 60%);
  }
  .features__container {
    padding: 30px 20px 50px;
  }
  .features__items {
    grid-template-columns: 1fr;
  }
  .features__item {
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      grid-row: 4/5;
      grid-column: 1/2;
      img {
        object-fit: cover;
        // max-height: 350px;
        max-width: 100%;
        // height: 100%;
        // width: 100%;
      }
    }
    &:nth-child(6) {
      grid-column: 1/2;
      h3 {
        margin-top: 20px;
      }
    }
  }
  .features__item-img {
    max-height: 350px;
    margin: 0;
    &::before {
      content: none;
    }
  }
  .features__item.white {
    min-height: 200px;
  }
  .footer__logo {
    grid-area: logo;
  }
  .footer__item-list {
    grid-area: item-list;
  }
  .footer__contacts {
    grid-area: contacts;
  }
  .socials {
    grid-area: socials;
  }
  .sign {
    grid-area: sign;
    padding: 0;
  }
  .footer__items {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "item-list"
      "contacts"
      "socials"
      "sign";
  }
  .footer__container {
    padding: 40px 10px 20px;
  }
  .signUp__wrapper {
    .signUp__container {
      padding: 20px 10px;
    }
    .signUp__header {
      a:first-child {
        &:hover {
          span {
            transform: none;
          }
        }
      }
    }
    .signUp__content {
      padding: 15px 0 30px;
    }
    .signUp__buttons {
      button {
        font-size: 1.2rem;
      }
    }
  }
}
