@import "_variables";
@import url("../css/normalize.css");

.box {
  width: 60px;
  height: 40px;
  float: left;
}
#b6 {
  background: #ffffff;
}
.icon {
  stroke: #000000;
  opacity: 0.95;
}
.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  // fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

html {
  font-family: $montserrat;
  // background-color: yellowgreen;
}

section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  overflow: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
.nav__container {
  position: relative;
  background-color: rgb(255, 255, 255);
  // left: 0;
  // right: 0;
  z-index: 10;
}
.nav__content {
  padding: 0 40px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
  a {
    @include navTransition(0.3s, 0.2s, 100%);
  }
}
.nav__logo {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
  z-index: 10;
  img {
    height: 23px;
    width: 26px;
    margin-right: 40px;
    @include navTransition(0.3s, 0.2s, 120%);
  }
  p {
    color: $red-logo;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    @include navTransition(0.3s, 0.2s, 100%);
  }
}
.nav__menu {
  z-index: 10;
  background-color: white;
  ul {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  li {
    margin-left: 40px;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
}
.nav__burger {
  height: 370px;
  position: fixed;
  z-index: 8;
  top: -370px;
  background-color: white;
  left: 0;
  right: 0;
  font-size: 1.4rem;
  transition: all 0.7s ease-in 0.2s;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  &.active {
    top: 0;
    transition: all 0.7s ease-in 0s;
  }
}
.burger__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 85px 30px 30px;
}
.burger__lists {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.burger__list {
  margin-right: 120px;
  margin-bottom: 0;
  li {
    margin: 10px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.button {
  cursor: pointer;
}
.burger__search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  justify-content: space-between;
  img {
    width: 60px;
    margin-bottom: 80px;
    opacity: 1;
    &.hide {
      opacity: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  input {
    width: 100%;
    border: none;
    text-align: end;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    &:focus-visible {
      outline: none;
    }
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.burger-item {
  transition: all 0.3s ease-in 0.6s;
  transform: translateY(0);
  &.hide {
    transform: translateY(100%);
    transition: all 0.3s ease-in 0s;
  }
}
.header {
  background: top center url(../img/header-bg.webp) no-repeat;
  padding: 120px 40px 90px;
}
.header__title {
  max-width: 1000px;
  margin: 0 auto 110px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 600;
    font-size: 4.4rem;
    max-width: 660px;
    margin-bottom: 0;
  }
  p {
    font-size: 1.5rem;
    max-width: 865px;
  }
}
.header__features {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin-bottom: 60px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    &::before {
      content: "";
      position: absolute;
      width: 45px;
      height: 5px;
      background-color: white;
      left: 30px;
      bottom: -35px;
    }
  }
}
.header__item {
  height: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  &:first-child {
    background-color: #353535;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 95%;
      left: -10%;
      top: -10%;
      background-color: #c1121f;
    }
  }
  &:nth-child(2) {
    background-color: #e71d36;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 2px;
      height: 50px;
      right: 50%;
      bottom: -70px;
      background-color: #c1121f;
    }
  }
  &:nth-child(3) {
    background-color: #0c334f;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 95%;
      right: -10%;
      bottom: -10%;
      background-color: #c4c4c4;
    }
  }
}

.ideas {
  background: linear-gradient(to bottom, #c4c4c440 50%, #030a18ed 50%);
}
.ideas__container {
  max-width: 1200px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
}
.ideas__title {
  text-transform: uppercase;
  max-width: 1100px;
  h2 {
    font-weight: 600;
    font-size: 2.2rem;
  }
  p {
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    padding-left: 12%;

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      width: 10%;
      background-color: #fc0909;
      left: 0;
      top: 50%;
    }
  }
}
.ideas__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 340px));
  gap: 20px;
  padding: 80px 0;
}
.ideas__item {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:nth-child(3) {
    background-color: #f01818;
    color: white;
    h3 {
      margin: 0;
    }
    &::before {
      position: absolute;
      content: "";
      background-color: #2e2e2e;
      bottom: -34px;
      left: -10%;
      width: 100%;
      height: 160%;
      z-index: -1;
    }
  }
  &:last-child {
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: #e5e5e5;
    &::before {
      position: absolute;
      content: "";
      background-color: #b91919;
      top: -34px;
      right: -10%;
      width: 130%;
      height: 70%;
      z-index: -1;
    }
  }
  &:nth-child(3),
  &:last-child {
    position: relative;
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}
.benefit__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  h2 {
    font-weight: 600;
    font-size: 2.2rem;
    position: relative;
    background-color: white;
    width: fit-content;
    padding: 30px 10px;
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 200vw;
      top: 50%;
      right: 0;
      left: -150%;
      background-color: black;
      z-index: -1;
    }
  }
}
.benefit__items {
  display: flex;
  justify-content: space-between;
}
.benefit__item {
  display: flex;
  img {
    position: relative;
    top: -25px;
    width: 70px;
    height: 100%;
  }
}
.benefit__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 70px;
}
.benefit__item_desc {
  padding-left: 30px;
  h3 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
  }
  p {
    max-width: 340px;
  }
}
.benefit__img {
  display: flex;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  position: relative;
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 100%;
    width: 300%;
    top: 0;
    left: 0;
    right: -100%;
    background: linear-gradient(
      to bottom,
      #c4c4c4 0%,
      #c4c4c4 30%,
      #e21919 30%,
      #e21919 100%
    );
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
@import "_adaptive";
